{% extends "base.html" %}

{% block content %}
  {% if articles %}
    <div class="articles-list">
    {% for article in (articles_page.object_list if articles_page else articles) %}
      <article>
        <span class="text-muted article-published">{{ article.locale_date }}</span>
        {% if SHOW_DATE_MODIFIED %}
          {% if article.modified %}
            <span class="text-muted article-modified">· Modified at {{ article.locale_modified }}</span>
          {% endif %}
        {% endif %}

        {% if SHOW_ARTICLE_CATEGORY %}
          <span class="text-muted article-category">· Category</span>
          <a class="article-category-name" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        {% endif %}

        {% if SHOW_ARTICLE_READTIME %}
        <span class="text-muted article-reading-time">· {{ article.stats['read_mins'] }}&nbsp;{% if article.stats['read_mins'] == 1 %}minute{% else %}minutes{% endif %}</span>
        {% endif %}
        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>

        {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
          <div class="well well-sm">
            {% include "includes/article_info.html" %}
          </div>
        {% endif %}

        <div class="summary">{{ article.summary }}
          {% include 'includes/comment_count.html' %}
          <!-- <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">read more</a> -->
        </div>
      </article>
    {% endfor %}
    </div>
  {% endif %}

  <div class="text-center">
    {% include 'includes/pagination.html' %}
  </div>
{% endblock content %}
