{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block breadcrumbs %}
  {% if DISPLAY_BREADCRUMBS %}
  <ol class="breadcrumb">
    <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="active">Archives</li>
  </ol>
  {% endif %}
{% endblock %}

{% block content %}
  <section id="content">
    <h1>Blog Archives</h1>
    <div id="archives">
      {% for year, date_year in dates|groupby('date.year')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
        <div class="row">
          <div class="col-sm-1 year published">{{ year }}</div>
          <div class="col-sm-11">
            {% for month, articles in date_year|groupby('date.month')|sort(reverse=NEWEST_FIRST_ARCHIVES) %}
              {% for article in articles %}
                <article>
                  <div class="row">
                    <div class="col-sm-1">
                      <time datetime="{{ article.date }}" pubdate>
                        <span class="month published">{{ article.date.strftime('%B')[:3] }}</span>
                        <span class="day published">{{ article.date.strftime('%d') }}</span>
                      </time>
                    </div>
                    <div class="col-sm-11">
                      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                      <footer>
                        <span class="categories">posted in
                          <a class='category' href='{{ SITEURL }}/{{ article.category.url }}'>{{ article.category }}</a>
                          {% if article.tags %} &middot; {% endif %} {% include 'includes/taglist.html' %}
                        </span>
                      </footer>
                    </div>
                  </div>
                </article>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
