{% extends "base.html" %}

{% block content %}
  {% if articles %}
    <div class="articles-list">
    {% for article in (articles_page.object_list if articles_page else articles) %}
      <article>
        <span class="published text-muted">{{ article.locale_date }}</span>
        {% if SHOW_DATE_MODIFIED %}
          {% if article.modified %}
            <span class="published text-muted">· Modified at {{ article.locale_modified }}</span>
          {% endif %}
        {% endif %}

        {% if SHOW_ARTICLE_CATEGORY %}
          <span class="published text-muted"> · Category</span>
          <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        {% endif %}
        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>

        {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
          <div class="well well-sm">
            {% include "includes/article_info.html" %}
          </div>
        {% endif %}

        <div class="summary">{{ article.summary }}
          {% include 'includes/comment_count.html' %}
          <!-- <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">read more</a> -->
        </div>
      </article>
    {% endfor %}
    </div>
  {% endif %}

  {% include 'includes/pagination.html' %}
{% endblock content %}
