<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <!-- Using the latest rendering mode for IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if 'liquid_tags.notebook' in PLUGINS %}
    {% include 'includes/liquid_tags_nb_header.html' %}
  {% endif %}

  {# Favicons are a touchy subject. For reasoning for the following code, see: stackoverflow.com/a/23851464/872397 #}
  {% if FAVICON %}
    <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
  {% endif %}
  {% if FAVICON_IE %}
    <!--[if IE]><link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON_IE }}"><![endif]-->
  {% endif %}
  {% if TOUCHICON %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ TOUCHICON }}">
  {% endif %}

  {% block canonical_rel %}{% endblock %}

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}

  {# Open Graph tags #}
  {% if USE_OPEN_GRAPH is not defined %}
    {% set USE_OPEN_GRAPH = True %}
  {% endif %}
  {% if USE_OPEN_GRAPH %}
  {% block opengraph %}
    <!-- Open Graph tags -->
    {% if OPEN_GRAPH_FB_APP_ID %}
      <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:url" content="{{ SITEURL }}"/>
    <meta property="og:description" content="{{ SITENAME }}"/>
    {% if OPEN_GRAPH_IMAGE %}
      <meta property="og:image" content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
  {% endblock %}
  {% endif %}

  {# Twitter Cards tags #}
  {% include 'includes/twitter_cards.html' %}

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css" type="text/css"/>
  <link href="{{ SITEURL }}/theme/css/disable-boostrap-pre-for-pygments.css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/pygments-{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">
  {% if FEED_ALL_ATOM %}
  <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed"/>
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
  {% endif %}
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ SITEURL }}/" class="navbar-brand">
          {% if SITELOGO %}<img src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/> {% endif %}
          {% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %}
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if 'tipue_search' in PLUGINS %}
          <li>
            <span>
              <form class="navbar-search" action="/search.html">
                <input type="text" class="" placeholder="Search" name="q" id="tipue_search_input" required>
              </form>
            </span>
          </li>
          {% endif %}

          <li {% if output_file == "index.html" %} class="selected"{% endif %}><a href="{{ SITEURL }}">Home</a></li>

          {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in PAGES %}
            <li {% if p == page %} class="selected"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
          {% endif %}

          {% if MENUITEMS %}
            {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
          {% endif %}
          <li {% if output_file == READING_LIST_URL %} class="selected"{% endif %}>
            <a href="{{ SITEURL }}/{% if READING_LIST_URL %}{{ READING_LIST_URL }}{% else %}reading_list.html{% endif %}">Reading list</a>
          </li>
          <li {% if output_file == ARCHIVES_URL %} class="selected"{% endif %}>
            <a href="{{ SITEURL }}/{% if ARCHIVES_URL %}{{ ARCHIVES_URL }}{% else %}archives.html{% endif %}">Archives</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  <header class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>{{SITE_SLOGAN}}</h1>
            <hr class="small">
            <span class="subheading">{{SITE_SUBSLOGAN}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% if not HIDE_SIDEBAR or ABOUT_ME %}
      <div class="col-sm-3" id="sidebar">
        {% if ABOUT_ME %}
          {% include 'includes/aboutme.html' %}
        {% endif %}

        {% if not HIDE_SIDEBAR %}
          {% include 'includes/sidebar.html' %}
        {% endif %}
      </div>
      {% endif %}

      {% if not HIDE_SIDEBAR or ABOUT_ME %}
      <div class="col-sm-9">
      {% else %}
      <div class="col-lg-12">
      {% endif %}

      {% block breadcrumbs %}{% endblock %}
      {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  {% include 'includes/footer.html' %}

  <script src="{{ SITEURL }}/theme/js/scripts.min.js"></script>

  {% include 'includes/github-js.html' %}
  {% include 'includes/disqus_script.html' %}
  {% include 'includes/ga.html' %}
  {% include 'includes/piwik.html' %}

  {% block scripts %}{% endblock %}
  </div>
</body>
</html>
