/********************************
 * Theme colors
 */

$theme-bone:              #F4F4F4;
$theme-creme:             #F8E1B4;
$theme-yellow:            #FEC908;
$theme-red:               #C90213;
$theme-red-solarized:     #cf4646;
$theme-green-light:       #e0e9d4;
$theme-green:             #80C352;
$theme-indygo:            #32117C;
$theme-cadet-blue:        #5E9DA0;
$theme-dark-blue:         #28267B;
$theme-ocean:             #02836D;
$theme-green-dark:        #458615;
$theme-green-darker:      #355515;
$theme-emerald:           #53BF83;
