<footer>
   <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p>

          <ul>
            {% if FEED_ALL_ATOM %}<li><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">feed</a></li>{% endif %}
          </ul>
          <p>
            Copyright &copy; &middot; {{ SITENAME }} &middot; The Kiss Principle &middot; Build with <a href="http://docs.getpelican.com/" target="_blank">pelican</a>.
          </p>
        </div>
      </div>
   </div>
</footer>
