<div class="post-info">
  <span class="text-muted article-published">
    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
  </span>
  {% if SHOW_DATE_MODIFIED %}
    {% if article.modified %}
      <span class="text-muted article-modified">&middot; Modified at {{ article.locale_modified }}</span>
    {% endif %}
  {% endif %}

  {% if SHOW_ARTICLE_AUTHOR %}
    {% if article.author %}
      <span class="text-muted article-author">&middot; By</span>
      <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    {% endif %}
  {% endif %}

  {% if SHOW_ARTICLE_CATEGORY %}
    <span class="text-muted article-category">&middot; Category</span>
    <a class="article-category-name" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  {% endif %}

  {% if PDF_PROCESSOR %}
    <span class="label label-default">
      <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
    </span>
  {% endif %}

  {% if article.tags %}<span class="text-muted tags-dot">&middot;</span>{% endif %}{% include 'includes/taglist.html' %}

  {% import 'includes/translations.html' as translations with context %}
  {{ translations.translations_for(article) }}
</div>
