{% if DISPLAY_TAGS_ON_SIDEBAR is not defined %}
    {% set DISPLAY_TAGS_ON_SIDEBAR = True %}
{% endif %}

<section>
  <ul class="list-group">
    {% if DISPLAY_SEARCH_ON_SIDEBAR %}
      {% if 'tipue_search' in PLUGINS %}
      <li>
        <span>
          <form class="navbar-search" action="/search.html">
            <input type="text" class="form-control" placeholder="Search" name="q" id="tipue_search_input" required>
          </form>
        </span>
      </li>
      {% endif %}
    {% endif %}

    {% if DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
      {% if RECENT_POST_COUNT is not defined %}
        {% set RECENT_POST_COUNT = 5 %}
      {% endif %}
      <li>
        <h4>Recent Posts</h4>
        <ul id="recentposts">
        {% for article in articles[:RECENT_POST_COUNT] %}
          <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
        </ul>
      </li>
    {% endif %}

    {% if DISPLAY_CATEGORIES_ON_SIDEBAR %}
    <li>
      <h4>Categories</h4>
      <ul id="categories">
      {% for cat, null in categories %}
        <li>
          <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
        </li>
      {% endfor %}
      </ul>
    </li>
    {% endif %}

    {% if DISPLAY_TAGS_ON_SIDEBAR %}
      {% if DISPLAY_TAGS_INLINE %}
        {% set tags = tag_cloud | sort(attribute='0') %}
      {% else %}
        {% set tags = tag_cloud | sort(attribute='1') %}
      {% endif %}
      <li><h4><span class="icon-label">Tags</span></h4>
        <ul class="{% if DISPLAY_TAGS_INLINE %}list-inline tagcloud{% endif %}" id="tags">
        {% for tag in tags %}
          <li class="tag-{{ tag.1 }}">
            <a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a>
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% if DISPLAY_GITHUB_REPOS_ON_SIDEBAR %}
      {% include 'includes/github.html' %}
    {% endif %}

    {% if DISPLAY_TWITTER_TIMELINE_ON_SIDEBAR %}
      {% include 'includes/twitter_timeline.html' %}
    {% endif %}

    {% if DISPLAY_LINKS_ON_SIDEBAR %}
      {% include 'includes/links.html' %}
    {% endif %}
  </ul>
</section>

